
.navbar ul {
    display: flex;
    float: left;
    position: fixed;
    z-index: 999;
    background-color: black;
top: 25px;
    width: auto;
            margin-left: 20px;
    padding: 5px 10px;
}

.navbar li {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2em;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;

    
}

.navbar a:hover {
    color: #007bff;
}






@media only screen and (max-width: 1300px) {
    .navbar ul {
            top: 25px;
    width: auto;
            margin-left: 20px;
    padding: 5px 10px;
    }

    .navbar li {
    font-size: 24px;
    }
}

@media only screen and (max-width: 1075px) {

}


@media only screen and (max-width: 824px) {

}

@media only screen and (max-width: 640px) {
    .navbar ul {
            top: 0px;
    width: 100%;
            margin-left: 0px;
    padding: 5px 10px;
    }

    .navbar li {
    font-size: 18px;
    }
}